<div class="mt-10 bg-gray-600 text-white m-auto w-1/2 rounded-xl border-black border-2">
  <div class="text-center  py-2">
    <h1 class="text-3xl">Unsere Todos</h1>
    <p>Offene Todos: {{countOpenTodos().length}}</p>
  </div>
  <div class="py-2 flex justify-between">
    <input type="text" placeholder="{{placeholder}}" value={{newTodo}} class="py-2 px-2 ml-2 w-2/3 rounded-sm text-black"
      (keyup)="setTodo($event)" />
    <button class="py-2 mr-2 w-1/3 rounded-md bg-orange-500" (click)="addTodo()">Add Todo</button>
  </div>
  <div *ngFor="let todo of todos; let i = index">
    <app-todo
      [todo]="todo"
      [index]="i"
      (todoIndex)="toggleTodo($event)"
      (deleteIndex)="deleteTodo($event)"
    >
    </app-todo>
  </div>
</div>

